body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Gingham;
  justify-content: center;
  height: 100vh;
}

.res {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 48px;
}

