doctype html
html
    head
        link(rel="icon", href="./favicon.ico")
        meta(charset='UTF-8')
        title Boilerplate
        style(type='text/css')
    body
        .res
    script(type='text/javascript' src='ts/index.ts')

